@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0 auto;
	font-family: 'NanumSquareNeo-Variable';
}

.board_container {
	width: 970px;
	padding-top: 100px;
}

.board_container a {
	text-decoration: none;
	color: black;
}

.board_container a:visited {
	text-decoration: none;
}

.board_container a:hover {
	text-decoration: none;
}

.board_container a:focus {
	text-decoration: none;
}

.board_container a:hover,
.board_container a:active {
	text-decoration: none;
}

.board_container ul {
	list-style: none;
}

.board_header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eee;
	font-size: 1.8rem;
	font-weight: bold;    
}

.board_title {
	margin: 0;
	padding: 2rem 0 2rem 5rem;
}

.search_form {
	margin-left: 9rem;
}

.search_bar {
	width: 20rem;
	height: 2rem;
	padding: 0.2rem 0 0.2rem 1.5rem;
	outline: none;
	border: 0.1rem solid #ffd100;
	border-radius: 2rem;
}

.search_btn {
	width: 1rem;
	position: relative;
	right: 2.3rem;
	top: 0.23rem;
	cursor: pointer;
}

.write_button {
	background-color: #ffd100;
	color: #202020;
	border: none;
	border-radius: 0.7rem;
	cursor: pointer;
	padding: 1rem 1.8rem;
	font-weight: bold;
	margin-right: 1.8rem;
	font-size: 1rem;
}

.board_comment {
	margin: 0 1.5rem;
	border-bottom: 1px solid #eee;
}

.board_comment li {
	box-sizing: border-box;
	border: none;
}

.board_content {
	padding: 1.5rem 0;
	border-bottom: 1px solid #eee;
}

.board_post {
	display: flex;
}

.board_main {
	width: 80%;
	height: 8rem;
	margin-left: 0;
	margin-bottom: 0.7rem;
}

.board_main h4 {
	padding-bottom: 1rem;
}

.board_main p {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 1rem;
	overflow: hidden;
	line-height: 1.5rem;
	color: #888;
	font-size: small;
}

.board_main .location {
	font-size: 0.7rem;
}

.board_img {
	height: 7rem;
	width: 7rem;
	margin-right: 0;
	border-radius: 1rem;
}

.board_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.likeNcomment {
	display: flex;
	align-items: center;
	margin: 0;
	color: gray;
	font-weight: bold;
	font-size: 0.7rem;
}

.likeNcomment span {
	margin-right: 0.3rem;
}

.likecnt {
	padding-right: 0.5rem;
}

.like,
.speechBubble {
	width: 1rem;
}

.time {
	margin-right: 0;
	font-size: 0.7rem;
	color: #bbb;
}