@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    font-family: 'NanumSquareNeo-Variable';
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

.inline {
    display: inline;
}

body {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

#profile_container {
    display: flex;
    justify-content: space-between;
    width: 970px;
    margin: 0 auto 5rem;
    padding-top: 130px;
}

.title h2,
.title h4 {
    padding: 2rem 0;
}

.title h4{
	line-height: 1.5rem;
}

.f13 {
    font-size: 13px;
}

#profile_tbl {
    width: 40rem;
    border: 2px solid #ffd100;
    border-radius: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

#profile_tbl .prof_box {
    display: inline-block;
    width: 32.8%;
    text-align: center;
}

#profile_tbl .prof_box .small_box {
    height: 2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.pro_img {
    width: 7rem;
    height: 7rem;
    vertical-align: bottom;
    border-radius: 0.5rem;
}

.star_img {
    width: 1.5rem;
    vertical-align: middle;
}

.img_small {
    width: 1rem;
    vertical-align: bottom;
}

.bookmark {
    width: 3rem;
}

.badge {
    width: 2rem;
}

.f20 {
    font-size: 1.3rem;
    font-weight: bold;
}

.f14 {
    font-size: 14px;
    color: #737373;
}

.f12 {
    font-size: 0.8rem;
    color: #737373;
}

#profile_cnt {
    width: 40rem;
    text-align: left;
    margin-top: 3rem;
    padding-left: 1rem;
    border-bottom: 1px solid #333533;
}

#profile_cnt td {
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.detail {
    margin: 0;
    line-height: 1.5;
    color: #555555;
}

.review_img {
    width: 1.6rem;
    vertical-align: bottom;
}

.review_area {
    text-align: left;
    width: 40rem;
    border-bottom: 1px solid #eee;
    padding: 2rem 0;
}

.review_area td {
    padding: 0.3rem 0;
}

#review_tbl {
    text-align: left;
    width: 40rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;
}

#review_tbl .first_row {
    padding-top: 2rem;
    font-weight: bold;
}

#review_tbl td {
    padding: 0.3rem 1rem;
}

.review {
    line-height: 1.5rem;
}

.regBtn {
    font-size: 13px;
    color: #3807a8;
}

.regBtn:hover {
    cursor: pointer;
}

.profile_container input[type=text] {
    height: 2rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 0.5rem;
}

.profile_container input[type=text]:focus {
    border: 2px solid #555;
}

.profile_container textarea {
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 0.5rem;
}

.certification {
    width: 9rem;
    height: 9rem;
    border-radius: 0.5rem;
}

td {
    font-size: 0.9rem;
}

.comment_area {
    display: flex;
    flex-direction: column;
}

#write_comment {
    resize: none;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    padding: 0.5rem 0.7rem;
    margin-top: 0.8rem;
}

#write_comment:focus {
    outline: none;
}

.submit_comment {
    padding: 0.8rem 1.5rem;
    background-color: #202020;
    color: white;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    margin: 1rem auto 0;
}

/*퀵메뉴*/
.quick_area {
    position: sticky;
    top: 15rem;
    z-index: 100;
    border: 1px solid #eee;
    border-radius: 1rem;
    width: 20rem;
    height: 6.5rem;
    padding: 1.5rem 0;
    margin-left: 3rem;
}

.quick_area h4 {
    color: gray;
    text-align: center;
    margin-bottom: 1.5rem;
}

.quick_area div {
    height: 3.5rem;
    display: flex;
    justify-content: center;
}

.quick_area img {
    width: 1.5rem;
    vertical-align: middle;
}

.quick_area div button:first-child {
    background-color: #A9A9A9;
    border: 1px solid #A9A9A9;
    border-radius: 0.3rem;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
}

.quick_area div button:first-child:hover {
    background-color: #808080;
    border: 1px solid #808080;
}

.quick_area div button:last-child {
    background-color: #ffd100;
    color: #555555;
    border: 2px solid #ffd100;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.3rem;
    width: 60%;
    height: 100%;
}

.quick_area button:hover {
    cursor: pointer;
}

/* 마스크 띄우기 */
#mask {
    position: absolute;
    z-index: 9000;
    background-color: #555555;
    display: none;
    left: 0;
    top: 0;
}

/* 팝업으로 뜨는 윈도우 css */
.window {
    display: none;
    position: absolute;
    left: 35%;
    top: 10%;
    width: 30rem;
    height: 40rem;
    background-color: #FFF;
    z-index: 10000;
}

.window .request_title {
    background-color: #ffd100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request_title span {
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem;
}

.window .close {
    position: relative;
    left: 10rem;
}

.request_form {
    padding: 0 1rem;
}

.request_form textarea {
    width: 27rem;
    height: 7rem;
    resize: none;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.question1,
.question2,
.question3 {
    margin: 1rem 0;
}

.quest1,
.quest2,
.quest3 {
    margin: 2rem 0;
}

.quest2 input {
    width: 7rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    padding: 0 0.3rem;
}

.quest3 div {
    margin: 1rem 0;
}

.request_send {
    padding: 0.7rem 1rem;
    background-color: #202020;
    border: none;
    border-radius: 0.5rem;
    color: white;
    display: flex;
    margin: 0.5rem auto 0;
    cursor: pointer;
    font-size: 1.1rem;
}

.star_select{
	font-size: 0.8rem;	
	color: #ccc;
	margin-left: 0.8rem;
}
.star_select .star_t{
	padding: 0.5rem 0.2rem;
}

.starRev{
	margin: 0.7rem 0;
}

.starR{
     background: url('/spring/resources/source/ico_review.png') no-repeat right 0;
     background-size: auto 100%;
     width: 1.5rem;
     height: 1.5rem;
     display: inline-block;
     text-indent: -9999px;
     cursor: pointer;
}
.starR.on{background-position:0 0;}
