@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0 auto;
    font-family: 'NanumSquareNeo-Variable';
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

#container {
    width: 970px;
    height: 50rem;
    padding-top: 120px;
}

.hidden {
    display: none;
}

.filter {
    width: 38%;
    float: left;
}

.filter .h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1.5rem 0 4rem;
    padding: 2rem 0;
}

.filter button {
    width: 5rem;
    height: 2.2rem;
}

.region {
    margin-bottom: 2rem;

}

.drp_icon {
    width: 1.2rem;
    padding-left: 0.4rem;
    vertical-align: middle;
}

.price_search {
    margin-left: 0.3rem;
}

.price_search,
.price_reset {
    font-size: 0.8rem;
    background-color: #202020;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem 0.8rem;
    width: 4rem;
    cursor: pointer;
}

.price_search:hover,
.price_reset:hover {
    font-weight: bold;
}

.selected {
    display: inline-flex;
    margin: 1.5rem 0;
    width: 90%;
}

.location {
    color: #202020;
    text-align: center;
    font-size: 0.8rem;
    position: relative;
    display: none;
    right: 8rem;
}

.close_region {
    position: absolute;
    width: 0.5rem;
    left: 5.1rem;
    top: -0.3rem;
    cursor: pointer;
}

.price form {
    margin: 1.5rem 0;
}

.filter .priceInp {
    border: 2px solid #eee;
    height: 1.5rem;
    width: 6rem;
    border-radius: 0.3rem;
    margin: -0.3rem;
}

.filter .priceInp:focus {
    outline: none;
}

.free_list {
    width: 60%;
    float: right;
}

.free_list .search {
    padding: 1.5rem 0;
    border-bottom: 1px solid #333;
    padding: 2rem 0;
}

.search #order {
    margin-left: 8rem;
    border: none;
}

.free_pro {
    width: 100%;
    padding: 0.8rem 1.5rem;
    border-bottom: 1px solid #eee;
}

.free_pro h4 {
    display: inline-block;
}

.bookmark_icon {
    width: 1.2rem;
    vertical-align: middle;
    vertical-align: bottom;
    padding-right: 0.2rem;
    position: relative;
}

.bookmark_icon:hover {
    cursor: pointer;
    position: relative;
    top: 0.2rem;
}

.pro_img {
    width: 5rem;
    height: 5rem;
    vertical-align: bottom;
    border: 1px solid #333;
    border-radius: 0.5rem;
}

.title {
    font-size: 0.8rem;
}

.review {
    width: 15px;
    vertical-align: bottom;
    font-size: 10px;
    color: gray;
}

button {
    background-color: #ffd100;
    color: #555555;
    border: 2px solid #ffd100;
    font-weight: bold;
    border-radius: 0.5rem;
    letter-spacing: 3px;
}

button:hover {
    cursor: pointer;
}

.search_bar {
    width: 20rem;
    height: 2rem;
    padding: 0.2rem 0 0.2rem 1.5rem;
    outline: none;
    border: 0.1rem solid #ffd100;
    border-radius: 2rem;
   	box-sizing: border-box;
}

.search_btn {
    width: 1rem;
    position: relative;
    right: 2.3rem;
    top: 0.23rem;
    cursor: pointer;
}


/* 마스크 띄우기 */
#mask {
    position: absolute;
    z-index: 9000;
    background-color: #555555;
    display: none;
    left: 0;
    top: 0;
}

/* 팝업으로 뜨는 윈도우 css */
.window {
    display: none;
    position: fixed;
    left: 40%;
    top: 20%;
    width: 22rem;
    height: 30rem;
    background-color: #FFF;
    z-index: 10000;
    overflow: scroll;
}

.window div {
    background-color: #ffd100;
    width: 22rem;
    position: fixed;
}

.window span:first-child {
    text-align: left;
    vertical-align: middle;
    padding: 1rem;
    display: inline-block;
}

.window .locationList {
    margin-top: 3.2rem;
}

.window li {
    padding: 0.8rem 0.3rem;
    color: #555555;
}

.window li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.window li:hover {
    cursor: pointer;
}

.cityList {
    padding-left: 1rem;
}

.window .close {
    position: relative;
    left: 12rem;
}