* {
	padding: 0;
	margin: 0 auto;
}

body {
	width: 100%;
}

.title {
	text-align: center;
	font-size: 1.8rem;
	margin: 3rem 0;
	font-weight: bold;
}

.container {
	padding-top: 9.5rem;
	padding-bottom: 6rem;
	margin: auto;
	width: 970px;
}

#loginTable {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	text-align: left;
	margin-bottom: 1.5rem;
	padding: 2rem 0;
}

#loginTable tr {
	height: 3.75rem;
}

#loginTable .closer {
	padding: 1rem;
}

.idCheck{
	font-size: 0.8rem;
	padding-left:0.3rem;
}
#userId{
	margin:1rem 0 0 0;
}
input[type=text], input[type=password] {
	width: 17.5rem;
	height: 2rem;
	border-radius: 0.5rem;
	border: 1px solid #eee;
	padding: 0rem 0.5rem;
	margin: 1rem 0;
}
input[type=number]{
	width:9rem;
	height: 2rem;
	border-radius: 0.5rem;
	border: 1px solid #eee;
	padding: 0rem 0.5rem;
	margin: 1rem 0;
	text-align:center;
}
#check {
	border: 1px solid #eee;
	width: 5rem;
	height: 1.6rem;
	color: black;
	cursor: pointer;
}

#radio {
	width: 1.1rem;
	vertical-align: middle;
	margin-right: 0.9rem;
}

#radio2 {
	width: 1.1rem;
	vertical-align: middle;
	margin-right: 0.9rem;
	margin-left: 3rem;
}

#jobSelect {
	width: 5rem;
	height: 2rem;
	border: 1px solid #eee;
	border-radius: 0.5rem;
}

#jobSelect2{
	width: 9rem;
    height: 2rem;
    border: 1px solid #eee;
    border-radius: 0.5rem;
}

.jobSelected {
	margin-left: 0.8rem;
	color: darkgray;
	font-size: 0.9rem;
	text-decoration: underline;
	
}

#regionSelect,
#regionSelectDetail {
	width: 5rem;
	height: 1.8rem;
	border: 1px solid #eee;
	border-radius: 0.5rem;

}

.regionSelected {
	margin-left: 0.8rem;
	color: darkgray;
	font-size: 0.9rem;
	text-decoration: underline;
}

.agreeForm {
	width: 15rem;
	margin: 0 auto 6rem;
}

.joinTou {
	margin: 1rem 0 6rem 24rem;
	height: 5rem;
}

.tou1,
.tou2,
.tou3 {
	height: 1rem;
	padding: 0.5rem;
}

.agree {
	width: 0.8rem;
	height: 0.8rem;
	margin-right: 1.5rem;
}

.joinSubmit {
	display: flex;
	justify-content: center;
}

.submit {
	width: 6.25rem;
	height: 3.125rem;
	border-radius: 0.625rem;
	background-color: #ffd100;
	color: #202020;
	border: none;
	margin-top: 3rem;
	margin: 0 1rem;
}

.submit:hover {
	color: white;
	cursor: pointer;

}