@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0 auto;
    font-family: 'NanumSquareNeo-Variable';
}

main {
    width: 970px;
    height: 50rem;
    padding-top: 130px;
}

.mainTitle {
    border-bottom: 1px solid #eee;
    padding: 2rem 0 2rem 5rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.likeList {
    display: flex;
    padding: 1rem;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.likeList:last-of-type {
    border-bottom: none;
}

.likeList img {
    width: 5rem;
}

.freelancerInfo {
    margin-left: 0;
}

.freelancerInfo div {
    padding: 0.3rem;
}

.freeLancerName {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 0;
}

.location {
    margin-left: 0;
    font-size: 0.8rem;
}

.detail {
    margin-left: 0;
    color: gray;
    font-size: 0.7rem;
}

.likeTimeNdelete {
    display: flex;
    flex-direction: column;
}

.createTime {
    margin: 0 1.5rem 1.5rem;
    color: rgb(165, 165, 165);
    font-size: small;
}



