@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0 auto;
    font-family: 'NanumSquareNeo-Variable';
}

main {
    width: 970px;
    height: 50rem;
    padding-top: 130px;
}

.mainTitle {
    border-bottom: 1px solid #eee;
    padding: 2rem 0 2rem 5rem;
    font-size: 1.8rem;
    font-weight: bold;
}


.replyList {
    display: flex;
    padding: 1rem 3.3rem 0 0;
    margin: 0.5rem 10.5rem 0 0;
    border-bottom: 1px solid #eee;
}

.replyList:last-of-type {
    border-bottom: none;
}

.replyInfo {
    margin-left: 0;
}

.replyInfo div {
    margin : 1rem 0 1rem 0;
    cursor: pointer;
}


.replyTimeNdelete {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

.createTime {
    margin:0.5rem 0 0 0;
    color: rgb(165, 165, 165);
    font-size: small;
    cursor: pointer;
}


         

