@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0 auto;
	font-family: 'NanumSquareNeo-Variable';
}

.main_container{
	width: 970px;
	padding-top: 100px;
}

.write_form {
	font-size: 0;
}

.name_box {
	width: 100%;
	padding: 2rem 0;
	border: none;
	border-bottom: 1px solid #eee;
}

.name_box input {
	border: none;
	width: 100%;
}

.name_box input:focus {
	outline: none;
}

.service_region {
	padding: 2rem 0;
	border-bottom: 1px solid #eee;
}

.service_box,
.region_box {
	border: none;
	margin-right: 3rem;
	width: 8rem;
}

.content_write {
	height: 30rem;
	width: 100%;
	resize: none;
	border: none;
	border-bottom: 1px solid #eee;
	padding: 1rem 0;
	line-height: 1.5rem;
}

.content_write:focus,
.service_box:focus,
.region_box:focus {
	outline: none;
}

.image_upload {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	width: 15rem;
}

.camimg {
	width: 2rem;
	cursor: pointer;
	margin-left: 2rem;
}

#file_input {
	display: none;
}

.imgCnt {
	font-size: 7px;
	margin-right: 3rem;
}

.uploadedFile {
	/*background-color: skyblue;*/
	width: 6rem;
	height: 6rem;
	border-radius: 0.5rem;
	border:0px solid;
}

.btn_container {
	display: flex;
	justify-content: center;
	border-top: 1px solid #eee;
}

.postBtn,
.listBtn {
	margin: 3rem 2rem;
	background-color: #202020;
	color: white;
	border: none;
	border-radius: 1rem;
	padding: 1rem 2.5rem;
	cursor: pointer;
}