<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="requestMapper">

	<resultMap type="Request" id="requestResult">
		<result column="req_num" property="reqNum"/>
		<result column="cus_num" property="cusNum"/>
		<result column="free_num" property="freeNum"/>
		<result column="reg_date" property="regDate"/>
		<result column="accept" property="accept"/>
		<result column="acct_date" property="acctDate"/>
		<result column="name" property="name"/>
		<association javaType="Answer" property="a">
			<result column="ans_1" property="ans1"/>
			<result column="ans_2" property="ans2"/>
			<result column="ans_3" property="ans3"/>
		</association>
	</resultMap>

	<insert id="insertRequest">
		insert into request(req_num, cus_num, free_num, reg_date, accept, acct_date)
			values(seq_req.nextval, #{cusNum}, #{freeNum}, sysdate, 'N', null)
	</insert>
	
	<insert id="insertAnswer">
		insert into answer(req_num, ans_1, ans_2, ans_3)
			values(seq_req.currval, #{ans1}, #{ans2}, #{ans3})
	</insert>
	
	<select id="selectRequestList" resultMap="requestResult">
		select r.req_num, r.free_num, r.reg_date, c.name, a.ans_1, a.ans_2, a.ans_3
		from customer c, request r, answer a
        where c.cus_num = r.cus_num
        and r.req_num = a.req_num
		and r.free_num = #{freeNum}
	</select>

</mapper>
