<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.yb.spring.member.model.vo.Freelancer" alias="Freelancer"/>
		<typeAlias type="com.yb.spring.member.model.vo.Customer" alias="Customer"/>
		<typeAlias type="com.yb.spring.member.model.vo.Categories" alias="Categories"/>
		<typeAlias type="com.yb.spring.member.model.vo.Location" alias="Location"/>
		<typeAlias type="com.yb.spring.board.model.vo.Board" alias="Board"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/matching-mapper.xml"/>
	</mappers>
</configuration>
